/my-app/.DS_Store
/my-app/.thumbs.db
/my-app/node_modules

# Quasar core related directories
/my-app/.quasar
/my-app/dist
/my-app/quasar.config.*.temporary.compiled*

# Cordova related directories and files
/my-app/src-cordova/node_modules
/my-app/src-cordova/platforms
/my-app/src-cordova/plugins
/my-app/src-cordova/www

# Capacitor related directories and files
/my-app/src-capacitor/www
/my-app/src-capacitor/node_modules

# BEX related directories and files
/my-app/src-bex/www
/my-app/src-bex/js/core

# Log files
/my-app/npm-debug.log*
/my-app/yarn-debug.log*
/my-app/yarn-error.log*

# Editor directories and files
/my-app/.idea
/my-app/*.suo
/my-app/*.ntvs*
/my-app/*.njsproj
/my-app/*.sln

# local .env files
/my-app/.env.local*
